@media screen and (min-width: 960px) {
    .home__title {
        font-size: 100px;
        line-height: 100px;
        margin-bottom: 40px;
    }
    .home__links {
        flex-direction: row;
    }
    .home__links a {
        margin-right: 50px;
    }
}
