@media screen and (min-width: 960px) {
    #contact {
        margin-bottom: 50px;
    }
    .contactForm {
        width: 65%;
    }
    .contactForm__input,
    .contactForm__textarea {
        font-size: 30px;
    }
}

@media screen and (max-height: 575px){ 
    #rc-imageselect, .g-recaptcha { 
        transform:scale(0.77);
        -webkit-transform:scale(0.77);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}